@import url('./bootstrap/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.rubik {
      font-family: 'Rubik';
}

.xtitle {
      letter-spacing: '1px';
      font-family: 'Rubik';
      font-weight: 600;
}

.xlabel {
      font-family: 'Rubik';
      font-weight: 500;
}

.xtext {
      font-family: 'Rubik';
      font-weight: 400;
}

.xform {
      width: '23rem';
}

.xsideimage {
      object-fit: 'cover';
      object-position: 'left';
}

.gradient-custom-2 {
      /* fallback for old browsers */
      background: #fbc2eb;

      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}

.avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
}

.map-container {
      height: 400px;
      width: 100%;
}

.haircut-img {
      width: 100%;
      height: auto;
}

.haircut-container {
      border: 2px solid #ccc;
      padding: 10px;
      text-align: center;
}

.haircut-img {
      max-width: 100%;
}

.haircut-name {
      margin-top: 10px;
      font-weight: bold;
}

/* Rating Stars */
.rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
}

.rating span {
      font-size: 20px;
}

.rating .fa-star {
      color: #FFD700;
}

.checked {
      color: #FFD700;
}

.popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
}

.popup-content {
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}